@font-face {
  font-family: Avenir;
  src: url("./Images/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: myBold;
  src: url("./Images/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: myDemi;
  src: url("./Images/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}

%leftRight {
  margin-left: 16px;
  margin-right: 16px;
}

%topBottom {
  margin: 1em 0em;
}

%footerLeft {
  margin-right: 24px;
  margin-left: 24px;
}

body {
  font-family: Avenir;
  margin: 0px;
}

/**
* HEADER CSS
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  min-height: 80px;
  justify-content: center;

  .header--logo {
    text-align: center;
    width: 100%;
  }

  .header--logo img {
    height: 8vw;
  }

  .header--right {
    font-size: 2vw;
    width: 100%;
    display: flex;
  }

  .sub-menu {
    padding: 1rem;
    font-size: 5vw;
    width: 50%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .sub-menu:hover {
    border-bottom: solid #ffffff;
  }
}

.hero {
  width: 100%;
  height: 48vw;
  background-image: url(Images/concert.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  h1 {
    color: white;
  }
}

h1 {
  font-family: mybold;
  margin-top: 0;
  margin: 0px 16px 24px 16px;
}

.about {
  margin-top: 32px;
}

.perform {
  @extend %leftRight;

  .perform__img {
    width: 100%;
  }
}

.phrase {
  h2 {
    font-family: myDemi;
    @extend %leftRight;
  }
  .phrase--one {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .phrase--two {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .phrase--three {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .phrase--four {
    margin: 24px 16px 40px 16px;

    h4 {
      margin-top: 24px;
      margin-bottom: 0px;
    }
  }
}

.gallery {
  background-color: #fafafa;
  padding-top: 32px;

  .gallery--img {
    display: flex;
    flex-flow: column;
    margin: 0px 0px;
    margin: 16px 16px;
  }
  img {
    width: 100%;
    margin-bottom: 16px;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 2.5em 0em;

  .myfeet--images {
    @extend %topBottom;
    display: flex;
    margin-left: 8px;
  }
  .myfeet--images img {
    padding: 0px 16px;
  }

  .footer--text {
    margin: 32px 16px 24px 16px;
  }
  .thick {
    font-family: myDemi;
    @extend %topBottom;
  }

  .slim {
    @extend %topBottom;
  }

  .slim--copyright {
    @extend %topBottom;
    margin: 32px 16px 24px 16px;
    width: 69%;
  }
}

/** in the tablet **/

@media screen and (max-width: 600px) {
  .myfeet--logo {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  header {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    min-height: 80px;
    justify-content: center;

    .header--logo {
      justify-self: flex-start;
      text-align: left;
      padding-left: 24px;
      width: 30%;
    }

    .header--logo img {
      height: 3.5vw;
    }

    .header--right {
      display: flex;
    }

    .sub-menu {
      padding: 0;
      font-size: 2vw;
      width: 21%;
      text-align: center;
    }
  }

  h1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .perform {
    margin-left: 24px;
    margin-right: 24px;
  }
  .gallery {
    .gallery--img {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 12px 12px;
    }
    img {
      width: 30%;
      height: 100%;
      margin: 12px;
    }
  }

  .phrase {
    width: 100%;

    h2 {
      margin-left: 24px;
      margin-right: 24px;
    }
    .phrase--four {
      display: flex;
      flex-direction: row;
      margin: 24px 12px 40px 12px;

      h4 {
        margin: 0px 12px;
      }
    }
  }

  .footer {
    .myfeet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 24px;
      margin-right: 24px;

      .myfeet--title {
        margin: 16px 0px 16px 0px;
      }

      .myfeet--images {
        padding: 0px;
      }

      .myfeet--logo {
        justify-self: flex-end;
        margin-top: 16px;
        margin-left: auto;
      }
    }
    .footer--text {
      display: flex;
      justify-content: space-between;
      margin: 32px 24px 24px 24px;
    }
    .slim--copyright {
      margin: 32px 24px 24px 24px;
      width: 69%;
    }
  }
}
