@font-face {
  font-family: Avenir;
  src: url("./Images/Linotype - AvenirNextLTPro-UltLt.otf");
}

@font-face {
  font-family: myBold;
  src: url("./Images/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: myDemi;
  src: url("./Images/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myTB;
  src: url("./Images/Linotype - AvenirNextLTPro-Regular.otf");
}

.perform, .phrase h2 {
  margin-left: 16px;
  margin-right: 16px;
}

.footer .thick, .footer .slim, .footer .slim--copyright {
  margin: 1em 0em;
}

body {
  font-family: Avenir;
  margin: 0px;
}

/* MOBILE ---------------- ------------ MOBILE MOBILE MOBILE */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  min-height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header--logo {
  text-align: center;
  width: 100%;
}

header .header--logo img {
  height: 8vw;
}

header .header--right {
  font-size: 2vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .sub-menu {
  padding: 1rem;
  font-size: 5vw;
  width: 50%;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

header .sub-menu:hover {
  border-bottom: solid #ffffff;
  font-family: myDemi;
}

.hero {
  width: 100%;
  height: 47vw;
  background-image: url(Images/concert.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  color: white;
}

h1 {
  font-family: mybold;
  margin: 32px 16px 24px 16px;
}

.perform .perform__img {
  width: 100%;
}

.phrase h2 {
  font-family: myDemi;
}

.phrase .phrase--one {
  margin-top: 24px;
  margin-bottom: 32px;
}

.phrase .phrase--two {
  margin-top: 32px;
  margin-bottom: 40px;
}

.phrase .phrase--three {
  margin-top: 32px;
  margin-bottom: 24px;
}

.phrase .phrase--four {
  margin: 24px 16px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h4 {
  margin: 0px 0px 24px 0px;
}

.gallery {
  background-color: #fafafa;
  padding-top: 32px;
}

.gallery h1 {
  margin: 0px 16px 24px 16px;
}

.gallery .gallery--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 16px 16px;
}

.gallery img {
  width: 100%;
  margin-bottom: 16px;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 40px 0px;
}

.footer .myfeet--title {
  margin: 0px 16px 24px 12px;
}

.footer .myfeet--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.footer .footer--text {
  margin: 32px 16px 24px 12px;
}

.footer .thick {
  font-family: myDemi;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer .slim--copyright {
  margin: 32px 16px 24px 12px;
  width: 67%;
}

@media screen and (max-width: 767px) {
  .myfeet--logo {
    display: none;
  }
}

/* In the Tablet */
/**Tablet ---- **/
@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #323232;
    min-height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header--logo {
    padding: 0px 32px 8px 24px;
    width: 30%;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  header .header--logo img {
    height: 2.7vw;
  }
  header .header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sub-menu {
    padding: 1.4em 0em;
    margin-left: 2em;
    margin-right: 1em;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    font-size: 2vw;
  }
  h1 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .perform {
    margin-left: 24px;
    margin-right: 24px;
  }
  .perform .perform__img {
    width: 100%;
    height: 47.2vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .phrase {
    width: 100%;
  }
  .phrase .phrase--two {
    font-family: myTB;
  }
  .phrase h2 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .phrase .phrase--four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 24px 12px 40px 12px;
  }
  .phrase .phrase--four h4 {
    margin: 0px 12px;
  }
  .gallery .gallery--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 36px 24px 8px 24px;
  }
  .gallery img {
    width: 31.2%;
    height: 100%;
    margin-bottom: 24px;
  }
  .footer .myfeet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .footer .myfeet .myfeet--title {
    margin: 8px 0px 8px 0px;
    font-size: 36px;
  }
  .footer .myfeet .myfeet--images {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 124px;
    margin: 8px 0px 8px 68px;
  }
  .footer .myfeet .myfeet--logo {
    justify-self: flex-end;
    margin-top: 16px;
    margin-left: auto;
  }
  .footer .footer--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px;
  }
  .footer .slim--copyright {
    margin: 24px;
    width: 69%;
  }
}

/* In the Desktop */
/** desktop **/
/** desktop **/
/** desktop **/
/** desktop **/
/** desktop **/
@media screen and (min-width: 1280px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #323232;
    min-height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header--logo {
    padding: 0px 56px 0px 180px;
  }
  header .header--logo img {
    height: 2.5vw;
  }
  header .header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sub-menu {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    font-size: 1.3vw;
    width: 80px;
    text-align: center;
    margin-right: 0px 56px 0px 0px;
  }
  h1 {
    margin: 48px 180px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .Main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 180px;
    margin-right: 180px;
  }
  .Main .perform {
    padding: 0px 68px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .Main .perform .perform__img {
    width: 100%;
    height: 31.5vw;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: bottom;
  }
  .phrase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
    width: 100%;
  }
  .phrase h2 {
    margin-left: 92px;
    margin-right: 92px;
  }
  .phrase .phrase--one {
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .phrase .phrase--two {
    margin-top: 0px;
    margin-bottom: 56px;
  }
  .phrase .phrase--three {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .phrase .phrase--four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 72px 48px 72px;
  }
  .phrase .phrase--four h4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery h1 {
    margin: 0px 180px;
    padding: 16px 0px 24px 0px;
  }
  .gallery .gallery--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 180px;
  }
  .gallery img {
    width: 31.8%;
    height: 100%;
    margin: 0px 0px 24px 0px;
  }
  .footer .myfeet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 180px;
    margin-right: 180px;
  }
  .footer .myfeet .myfeet--title {
    margin: 8px 60px 8px 0px;
    font-size: 36.5px;
  }
  .footer .myfeet .myfeet--images {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 13%;
    margin: 8px 0px 8px 0px;
  }
  .footer .myfeet .myfeet--images img {
    margin-left: 16px;
  }
  .footer .myfeet .myfeet--logo {
    justify-self: flex-end;
    width: 120px;
    margin-top: 8px;
    margin-left: auto;
  }
  .footer .footer--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 55%;
    margin: 32px 180px 24px 180px;
  }
  .footer .footer--text .thick {
    margin: 16px 0px;
  }
  .footer .footer--text .slim {
    margin: 16px 0px 16px 0px;
  }
  .footer .slim--copyright {
    margin: 24px 0px 0px 180px;
    width: 69%;
  }
}
/*# sourceMappingURL=styles.css.map */